/* Style général */
body {
    font-family: Arial, sans-serif;
    background-color: #413f3f;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

img {
    max-width : 3%;
    height : auto;
}

header h1 {
    font-size: 2em;
    color: #333;
}

header p {
    color: #777;
    font-style: italic;
}

.day {
    margin-bottom: 20px;
}

.day h2 {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.5em;
}

.day ul {
    list-style-type: none;
    padding-left: 20px;
}

.day ul ul {
    list-style-type: circle;
}

.day li {
    margin: 10px 0;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #777;
    font-size: 0.9em;
}
